@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a, a:visited {
  color: rgb(243, 243, 243);
}

body {
  background: url(../img/bg.jpg) no-repeat center/cover fixed;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(17, 17, 17);
  animation: animBefore 1s ease-in-out forwards;
  animation-delay: 0.15s;
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

.btn {
  background: none;
  border: 2px solid rgb(17, 17, 17);
  width: 170px;
  height: 45px;
  font-style: 0.75rem;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
.btn:hover {
  background: rgb(17, 17, 17);
  color: rgb(243, 243, 243);
  transform: scale(1.05);
}

/* //! A effacer */
img {
  width: 50%;
}

header {
  color: rgb(243, 243, 243);
  position: relative;
  min-height: 100vh;
}
header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  opacity: 0;
  transform: translate(40px);
  animation: headerAnim 1.5s forwards;
}
@keyframes headerAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header .header-content h1 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4rem;
  letter-spacing: 6px;
}
@media screen and (max-width: 768px) {
  header .header-content h1 {
    font-size: 2rem;
  }
}
header .header-content p {
  margin: 40px auto 60px;
  font-style: italic;
  width: 85%;
}
header .header-content span {
  border: 2px solid rgb(243, 243, 243);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.251);
  color: rgb(243, 243, 243);
  width: 85%;
  height: 65px;
  z-index: 100;
  position: absolute;
  bottom: 0;
  /* //! pour centrer l'élément */
  left: 50%;
  transform: translateX(-50%);
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav .nav-left {
  /* //! Les li non hover change de couleur */
}
header nav .nav-left:hover li:not(:hover) {
  background: none;
  color: rgb(243, 243, 243);
}
header nav .nav-left li {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  header nav .nav-left li {
    font-size: 0.5rem;
  }
}
header nav .nav-left li:first-child {
  background: rgb(243, 243, 243);
  color: rgb(17, 17, 17);
}
header nav .nav-left li:hover {
  background: rgb(243, 243, 243);
  color: rgb(17, 17, 17);
}
header nav .nav-right {
  font-size: 1.1rem;
  min-width: 100px;
  width: 25%;
  max-width: 300px;
  justify-content: space-around;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  header nav .nav-right {
    display: none;
  }
}
header nav .nav-right li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header nav .nav-right li:hover {
  transform: scale(1.1);
}

main {
  width: 85%;
  margin: 0 auto 30px;
  background: rgb(243, 243, 243);
}
main img {
  width: 100%;
}
main .section1 {
  width: 80%;
  margin: 0 auto;
}
main .section1 span {
  padding: 70px 0;
  position: relative;
  display: block;
}
main .section1 span::before, main .section1 span::after {
  content: "";
  position: absolute;
  width: 37%;
  height: 1px;
  background: rgb(204, 204, 204);
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  main .section1 span::before, main .section1 span::after {
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  main .section1 span::before, main .section1 span::after {
    width: 25%;
  }
}
main .section1 span::before {
  left: 0%;
}
main .section1 span::after {
  right: 0%;
}
main .section1 h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  main .section1 h2 {
    font-size: 1.5rem;
  }
}
main .section1 p {
  line-height: 35px;
  font-size: 0.8rem;
  width: 60%;
  margin: 30px auto;
  font-style: italic;
}
main .section1 .btn {
  margin: 50px 0 90px;
}
main .section2 {
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px solid rgb(204, 204, 204);
}
@media screen and (max-width: 768px) {
  main .section2 {
    grid-template-columns: 1fr;
  }
}
main .section2 .left-part,
main .section2 .right-part {
  padding: 60px;
}
main .section2 span {
  font-size: 0.8rem;
}
main .section2 h3 {
  margin: 20px 0;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 28px;
}
main .section2 p {
  text-align: left;
  line-height: 25px;
  margin: 30px 0;
  font-size: 0.8rem;
}
main .section2 .left-part {
  border-right: 1px solid rgb(204, 204, 204);
}

footer {
  background-color: rgb(233, 233, 233);
  min-height: 640px;
  width: 85%;
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 900px) {
  footer {
    grid-template-columns: 1fr;
  }
}
footer form {
  display: grid;
  gap: 20px;
  padding: 60px 50px;
  grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
}
footer form label {
  display: flex;
  align-items: flex-end;
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(105, 105, 105);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer form input[type=text],
footer form textarea {
  background: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  /* //! Empecher l'area de resize */
  resize: none;
}
footer form .submit-container {
  display: flex;
  align-items: flex-end;
}
footer form .submit-container .btn {
  color: rgb(105, 105, 105);
  border: 2px solid rgb(105, 105, 105);
}
footer form .submit-container .btn:hover {
  background-color: rgb(105, 105, 105);
  color: rgb(233, 233, 233);
}
footer .infos-contact {
  border-left: 1px solid rgb(204, 204, 204);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /* //! nth-child(1) pour le premier div */
}
@media screen and (max-width: 900px) {
  footer .infos-contact div:nth-child(1) {
    border-top: 1px solid rgb(204, 204, 204);
    padding-bottom: 20px;
  }
}
footer .infos-contact div {
  border-bottom: 1px solid rgb(204, 204, 204);
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}
@media screen and (max-width: 900px) {
  footer .infos-contact div {
    grid-template-columns: 45% 55%;
  }
}
footer .infos-contact div h3 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  padding-left: 40px;
  text-align: left;
  color: rgb(105, 105, 105);
}
footer .infos-contact div p {
  font-size: 0.7rem;
  line-height: 26px;
  text-align: left;
  color: grey;
}
footer .infos-contact .social ul {
  display: flex;
}
footer .infos-contact .social ul li {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 150px;
  height: 40px;
  width: 40px;
  font-size: 0.9rem;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */